/* Configurações Gerais */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Code", monospace;
}

body{
    background-color: #000000;
    min-height: 100vh;    
    /* background-image: linear-gradient(to bottom,rgb(63, 4, 63),black) */
}

.interface {
  max-width: 1300px;
  margin: 0 auto;
}

.flex{
    display:flex;
}

/* Configurações do Menu */
header{
    padding: 35px 3%;
    position: sticky;
    top: 0;
    background-color: #000000;
    z-index: 100;
}

header > .interface{
    display: flex;
    justify-content: center;
    align-items: center;
}

header a{
    color: rgb(161, 161, 161);
    text-decoration: none;
    display: inline-block;
    transition: .2s;
    font-size: 20px;
}

header a:hover{
    color:rgb(255, 255, 255);
    transform: scale(1.1);
}
header nav ul{
    list-style-type: none;
    display: flex;
    justify-content:center;
    gap: 150px;
}

/*Configurações do Sobre Mim*/
main {
    color:antiquewhite;
    padding: 60px 5%;
}

.sobre-mim{
  text-align: center;
  margin: 40px;
}

.sobre-mim h1{
    padding: 20px 0;
}

.sobre-mim h2{
    padding: 10px 0;
}

.sobre-mim p{
    text-align: justify;
    padding: 40px;
    line-height: 2.2;
}

/* Configurações do Meu Projeto */

.meus-projetos h1{
    text-align: center;
    padding: 60px;
}

.meus-projetos .flex{
    justify-content: space-between;
    align-items: center;
}

main li{
    list-style-type: none;
}

/* Seção de Contato */

footer{
    color: rgb(255, 255, 255);
}

footer h1{
    padding: 60px 60px 100px;
    text-align: center;
}
footer .flex{
    list-style-type: none;
    justify-content: space-evenly;
    align-items: flex-end;
    padding-bottom: 10px;
}
