/* Configurações Gerais */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #000000;
    min-height: 100vh;    
    background-image: linear-gradient(to bottom,rgb(63, 4, 63),black)
}

.interface {
  max-width: 1000px;
  margin: 0 auto;
}

.flex{
    display:flex;
}
/* Configurações do Menu */
header{
    padding: 35px 3%;
}

header > .interface{
    display: flex;
    justify-content: center;
    align-items: center;
}

header a{
    color: antiquewhite;
    text-decoration: none;
}
header nav ul{
    list-style-type: none;
    display: flex;
    justify-content:center;
    gap: 150px;
}
